@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.poke {
    z-index: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid rgba(0, 0, 0, 0.5) 1px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.5s;
}
.name {
    font-size: large;
    font-family: Arial, serif;
}
.poke:hover {
    border: solid rgba(255, 255, 255, 0.5) 1px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.poke-image {
    height: 200px;
    width: 100%;
    padding: 1em;
}

.poke-footer {
    align-items: center;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding: 0.5em 2em;
}

.number {
    font-size: 20px;
}

.name {
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Marcellus', serif;
}
